mixin authentication__background()
    section.left-side
        .authentication__background
            .left-side__text 
                h2.white-subtitle название проекта
                h1.white-title Вход в аккаунт
