mixin fast-game__background()
    section.left-side 
        .fast-game__background 
            .left-side__text 
                h2.white-subtitle название проекта
                h1.white-title быстрая игра