mixin registration__background()
    section.left-side
        .registration__background
            .left-side__text 
                h2.white-subtitle название проекта
                 h1.white-title регистрация