$base-font-size: 16px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1280px;
$wide-desktop-width : 1400px;

//Цвета
$dark-blue: #133F5F;
$gray: #C4C4C4;
$gray2: #818181;
$white: #E5E5E5;
$blue: #329D9C;
$pure-white: #FFF;