.authentication{
    &__background{
        background-image: url("../images/WP9 1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
}
.authentication__inputs-container{
    margin-top: 160px;
}