.eye-input{
    background: $pure-white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    font-variant: small-caps;
    color: $gray2;
    width: 480px;
    border: none;
    margin-top: 10px;
    border-bottom: 2px solid $gray2;
    outline: none;
    padding: 0;
    margin-bottom: 40px;
    background-image: url("../images/eye.svg");
    background-repeat: no-repeat;
    background-position: 99% 70%;
}