.placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-variant: small-caps;
    color: $gray2;
    margin-left: 0;
    margin-right: auto;
}