.select{
    background: $pure-white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-variant: small-caps;
    color: $gray2;
    width: 480px;
    border: none;
    border-bottom: 2px solid $gray2;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    margin-bottom: 40px;
}