.white-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-variant: small-caps;
    color: $white;
}